<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/login.css" rel="stylesheet">
</head>

<body>

    <!-- Start your project here-->
    <!-- Material form login -->
    <div class="login-container">

<form method='post' action='/addUser'>
    <p class="h4 text-center mb-4">Sign in</p>
    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input name='email' type="email" id="materialFormLoginEmailEx" class="form-control">
        <label for="materialFormLoginEmailEx">Your email</label>
    </div>

    <!-- Material input password -->
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input name="user_id" type="password" id="materialFormLoginPasswordEx" class="form-control">
        <label for="materialFormLoginPasswordEx">Your password</label>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-default" type="submit">Login</button>
    </div>
</form>
</div>

<!-- /Material form login -->

<!-- Material form login -->
<div class="login-container">

<form>
<p class="h4 text-center mb-4">Sign in</p>

<!-- Material input email -->
<div class="md-form">
    <i class="fa fa-envelope prefix grey-text"></i>
    <input type="email" id="materialFormLoginEmailEx" class="form-control">
    <label for="materialFormLoginEmailEx">Your email</label>
</div>

<!-- Material input password -->
<div class="md-form">
    <i class="fa fa-lock prefix grey-text"></i>
    <input type="password" id="materialFormLoginPasswordEx" class="form-control">
    <label for="materialFormLoginPasswordEx">Your password</label>
</div>

<div class="text-center mt-4">
    <button class="btn btn-default" type="submit">Login</button>
</div>
</form>
</div>
<!-- Material form login -->
    <!-- /Start your project here-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>
